

#header {
    background: gray;
    width: 50%;
    height: 200px;
    float: left;
}

    #menu a {
        width: 50%;
        height: 50px;
        float: right;
        background-color: lightblue;
        white-space: normal;
        text-align: center;
        word-break: break-all;
    }

#sidebar {
    float: right;
    width: 25%;
    height: 705px;
    padding: 5px;
    border: 0;
    padding: 0;
    background-color: lightblue;
}

#binvenida {
    justify-content: center;
    width: 25px;
}
#imgComida {
  
    width: 50px;
    height: 50px;
}

#content {
    width: 75%;
    float: left;
    margin: 0;
}

#footer {
    text-align: right;
    padding-right: 50px;
    background-color: skyblue;
    color: black;
    clear: both;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
