
#header {
    background: gray;
    width: 50%;
    height: 200px;
    float: left;
}

#menu {
    width: 50%;
    height: 200px;
    float: right;
    background-color: lightblue;
    /*color:lightcyan;*/
}

#sidebar {
    float: right;

    padding: 5px;
    border: dotted 3px darkblue;
    background-color: lightblue;
}
#binvenida {
    justify-content: center;
    width: 25px;
}
#imgComida {
  
    width: 50px;
    height: 50px;
}

#content {
    float: left;
    margin: 10px;
}

#footer {
    text-align: center;
    background-color:skyblue;
    color: black;
    clear: both;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
