
#header {
    background: gray;
    width: 50%;
    height: 200px;
    float: left;
}

#menu {
    width: 50%;
    height: 200px;
    float: right;
    background-color: lightblue;
    /*color:lightcyan;*/
}

#sidebar {
    float: right;
    width: max-content;
    height: max-content;
    padding: 5px;
    border: dotted 3px darkblue;
    background-color: lightblue;
}

#content {
    float: left;
    margin: 10px;
}

#footer {
    text-align: center;
    background-color:skyblue;
    color: black;
    clear: both;
}
