@{
    ViewData["Title"] = "Index Home";
}
    <h2>@ViewBag.Nombre</h2>
    <h3>@ViewBag.Fecha</h3>
<div id ="DescripcionInicio">
    <p>
            Argentina y Uruguay
            Véanse también: Gastronomía de Argentina y Gastronomía de Uruguay.
            En Argentina, Paraguay y Uruguay, se desayuna mate cocido, té, leche chocolatada o café con leche, jugo de naranja, con algo dulce:

            medialunas (que, dulces o saladas, son parecidas a los croissants franceses)
            facturas (masas dulces, a veces con relleno de dulce de leche)
            pan con manteca, dulce o queso
            masitas dulces o saladas
            galletitas saladas, o tostadas.
            También es común desayunar con unos mates (amargos o dulces) acompañados por galletitas de grasa o bizcochos (salados, de hojaldre).
        </p>
    </div>

@section SideBar{ 
    <h1>Bienvenidos</h1>
    <div id="binvenida">
        <img id="imgComida" src="https://lecheunicla.com/wp-content/uploads/Ideas-de-desayunos-faciles-y-saludables.png" />
        <img id="imgComida" src="https://i.blogs.es/7559fc/1366_2000-94-/1366_2000.webp" />
        <img id="imgComida" src="https://static.misionesonline.news/wp-content/uploads/2017/09/desayuno-217n6f3gagrg.jpg" />
        <img id="imgComida" src="https://mejorconsalud.as.com/wp-content/uploads/2015/07/desayuno-mas-sano-768x512.jpg?auto=webp&quality=45&width=1920&crop=16:9,smart,safe" />
    </div>
}