nielloRocio.Models.Receta
<div class="container">
    <h2>
        Receta: @Model.Titulo
    </h2>

    <p>
        ¿Desea eliminar esta receta?
    </p>

    @using (Html.BeginForm("Delete", "Receta", FormMethod.Post))
    {
        <input type="submit" class="btn btn-danger" action="Delete" value="Eliminar" />
    }
</div>
@section SideBar{ 
    @Html.ActionLink("Volver al index", "Index", "Receta")
}
